version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: "final_project"
    ports:
      - "5000:5000"
      - "8010:8010"
      
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - "./prometheus:/etc/prometheus"
    restart: always
    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml